/* font rem 
margin padding em
*/

:root {
    --color-bg: hsl(0, 0%, 10%); /* hsl(0, 0%, 18%); */
    --color-txt: hsl(0, 0%, 90%); /* hsl(0, 0%, 82%); */
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-bg, black);
    color: var(--color-txt, white);
    font-family: Poppins, sans-serif;
    margin: 1.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

nav {
    display: none;
    border: 1px yellow solid;
    /* transform: translateX(500%); */
}

.menu-svg {
    width: 2em;
    margin: 0;
    padding: 0;
    fill:var(--color-txt);
    cursor: pointer;
}

.nav-container {
    list-style: none;
    display: block;
    position: sticky;
    margin: 0;
    padding: 0;
}

.nav-item {
    border: 1px orange solid;
}

/* INFO */

.info-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 12vh;
    margin-bottom: 1.5em;
}

.section-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5em;
}

/* WORK */

.work-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-bottom: 1.5em;
    padding: 0;
}

.work-container {
    width: 40vw;
    margin-bottom: 1em;
}

.work-shot {
    width: 100%;
    aspect-ratio: 16/9;
    outline: 1px purple solid;
}

.work-name {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 0.5em;
}

.work-description {
    font-size: 0.9rem;
    margin: 0.2em 0 0.5em 0;
}

.work-link {
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: underline;
}
