:root {
    --color-bg: hsl(0, 0%, 18%);
    --color-txt: hsl(0, 0%, 82%);
    scroll-behavior: smooth;
    font-family: Poppins, sans-serif;    
}


body {
    background-color: var(--color-bg, black);
    color: var(--color-txt, white);
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px red solid;
}

.title > h1 {
    width: 8rem;
    height: 3rem;
    margin: 0;
    padding: 0;
    border: 1px blue solid;
    align-self: flex-start;
}

nav {
    display: flex;
    flex-direction: column;
    position: ;
    left: 20vmin;
    border: 1px yellow solid;
}

.menu-svg {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0;
    padding: 0;
    border: 1px purple solid;
}

.nav-list {
    list-style: none;
    display: block;
    position: sticky;
    margin: 0;
    padding: 0;
    border: 4px green solid;
}

.nav-item {
    text-decoration: none;
    color: inherit;
    border: 1px orange solid;
}

